:root {
    --dk-color:#181825;
    --mid-color:#1e1e2e;
    --lt-color:#313244;
    --dkest-color:#11111b;
    --accent:#94e2d5;
    --text-color:#cdd6f4;
}
html, body {
    margin:0;
    padding-top:25px;
    padding:0;
    height:100%;
    font-family:'Courier New', Courier, monospace;
    font-size:14px;
    background-image:url("background.gif");
    background-position: center;
    color:var(--text-color);
    padding:1px;
    overflow-y:hidden;
}
body a {
 color:var(--accent);
 font-weight:bold;
 }
#container {
    max-width:100%;
    margin:0 auto;
    margin-top:15px;
    height:100%;
}
h1, h3, h5 {
    color:var(--accent);
}
h2, h4, h6 {
    color:var(--accent);
 }
#header {
    max-width:850px;
    height:fit-content;
    margin-left:5px;
    margin-right:5px;
    margin:0 auto;
    background-color:var(--lt-color);
    border:1px solid var(--dkest-color);
}
.title {
    font-size:35px;
    text-align:center;
    font-style:bold;
    margin-top: 1%;
    margin-bottom: 1%;
}
#wrapper {
    margin:0 auto;
    max-width:860px;
}
.content {
 padding:10px;
 }
#two-boxes {
    display:flex;
    flex-wrap:wrap;
    max-width:900px;
}
.box-one, .box-two, .box-three, .box-four, .box-five, .box-six {
    border:1px solid var(--dkest-color);
    background-color:var(--lt-color);
    overflow:auto;
}
.box-one, .box-two {
    width:100%;
    margin-left:5px;
}
.box-one {
    height:fit-content;
    margin-top:10px;
    margin-right:10px;
}
.box-two {
    height: fit-content;
    margin-top:5px;
    margin-right:5px;
}
.box-three {
    margin-left:5px;
    margin-top:5px;
    width:260px;
    height:326px;
}
.box-four {
    margin-top:5px;
    margin-left:5px;
    width:581px;
    height:326px;
}
.section-title {
    text-align:center;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
    background-color:var(--mid-color);
    color:var(--text-color);
    font-size:12px;
}
.nav-wrapper {
    display:flex;
    flex-wrap:wrap;
    width:90%;
    height:fit-content;
    margin:0 auto;
    justify-content:space-evenly;
    margin-top:5px;
    margin-bottom: 5px;
}
button {
    width:fit-content;
    height:35px;
    background-color:var(--mid-color);
    color:var(---color);
    font-weight:bold;
    border:none;
    margin-top:5px;
    margin-right:5px;
}
 button a {
   color:var(--accent);
   font-weight:bold;
 }
 p {
    padding:5px;
}
p a {
 color:var(--text-color);
 font-weight:bold;
 }
.scroll::-webkit-scrollbar-track {
    background-color: var(--lt-color);
}
.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #f2b1a4;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: var(--dk-color);
}
#footer {
    text-align:center;
    padding-top:5px;
    margin-bottom:5px;
}
#footer p {
    background-color:white;
    display:block;
    width:160px;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
    padding:5px;
}
textarea {
 background-color:var(--text-color);
 color:var(--lt-color);
 font-size:10px;
 }
@media only screen and (max-width: 860px) {
    html, body {
        overflow:visible;
   }
   #header {
     width:97.6%;
   }
    #container {
        width:100%;
   }
    .box-one, .box-two, .box-three, .box-four, .box-five, .box-six {
        width:100%;
   }
   .box-two {
     order:1;
   }
   .box-one {
     order:2;
   }
    .box-three {
        width:98%;
   }
    .three-boxes {
        width:98%;
   }
    .two-boxes {
        width:100%;
   }
    .wrapper {
        width:100%;
   }
}


